.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.bshadow {
  box-shadow:0 20px 25px 0 rgba(0,0,0,0.25),0 15px 30px 0 rgba(0,0,0,0.24) !important;
}

.headline h2 {
  color: white;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: black;
  opacity: 0.7;
}

.reveal a:hover {
  color: black;
  opacity: 0.7;
  font-weight: bold;
}

.medium {
    font-size: 0.75em; 
}

.text dummy {
}

.reveal .slide-number {

  font-size: 0.7em !important;

  bottom: -3px !important;

}

#title-footer {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    background: rgba(0,0,0,0.0);
    position: fixed;
    height: 2vh;
    z-index: 20;
    width: 100%;
    font-size: 1.75vh;
    text-align: left;
    letter-spacing: 0em;
    padding-top: 0.5vh;
    padding-bottom: 0.8vh;
}

#title-footer p {

  line-height: .75;
  
  font-size: 1.2em !important;

  bottom: 0px !important;
  
  text-align: left;
  
  padding-left: 2em;
}


.reveal .controls {
    display: none !important;
}

.gp-menu .reveal .gp-menu-bars{
    opacity: 0.05;
}

.MathJax {
font-size: .85em !important;
}
